*{
    margin: 0;
    padding: 0;
   
  }



.header-fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-family: 'Fredoka', sans-serif;

}

.dark-header {
  
  box-shadow: 0 1px 9px 0 rgba(238, 234, 9, 0.637);
  -webkit-box-shadow: 0 1px 9px 0 rgba(235, 212, 4, 0.541);
  -moz-box-shadow: 1 1px 9px 0 rgba(255, 251, 7, 0.918);
  background: #fdd048;
/*
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.541);
  -moz-box-shadow: 1 1px 9px 0 rgba(0, 0, 0, 0.3);
  background: #fdd048;

  */
}

.navbar {
  background: #FFFFFF;
  font-size: 25px;

}  

.nav-link{
  color: black;
  outline: none;
  text-decoration: none  !important;
}

.nav-link:hover{
  color: #2da110a1;
  cursor: pointer;
}




a {
  text-decoration: none  !important;
  background-image: linear-gradient( .25turn, rgb(7, 180, 30), 10%, rgb(255, 255, 255));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  
  outline: none;
  color: black;
}


a:hover, a:focus {
  background-size: 100% 2px;
  color: #2da110a1;
  cursor: pointer;

}

.dropdown-item:hover{
  color: #2da110a1;
  cursor: pointer;
}



.carousel-position-six {
  position: absolute;
  top: 15%;
  left: auto;
  color: black;
}

.carousel-subtitle-v5 {
  display: block;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.4;
  color: rgb(41, 4, 4);
}

.carousel-title-normal {
  font-weight: normal;
}

.border-top-bottom {
  border-top: 1px solid rgb(70, 23, 23);
  border-bottom: 1px solid rgb(53, 13, 13);
  padding: 3px 0;
}

/* BANNER DE COLORES*/

.section-module{
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: Aller, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: #464646;
  font-size: 16px;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  display: block;
  position: relative;
}

.section-module__row{
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: Aller, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: #464646;
  font-size: 16px;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}
.section__content-left{
  background-color: #498cf3; color: #ffffff;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: Aller, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 0 auto !important;
  overflow: hidden;
  min-height: 400px;
  align-items: flex-end;
  background-color: #498cf3;
  color: #ffffff;
}

.section__content-inner{
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: Aller, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  position: relative;
  max-width: 680px;
  width: 100%;
  padding: 50px 30px 50px 20px;
}

.section__content-right{
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: Aller, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: #464646;
  font-size: 16px;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 0 auto !important;
  overflow: hidden;
  min-height: 400px;
  align-items: flex-start;
  background-image: url(https://1faypk31ihjq3me65miz021u-wpengine.netdna-ssl.com/wp-content/uploads/2017/11/space-bg.jpg);
}

.section__floating{
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: Aller, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: #464646;
  font-size: 16px;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.attachment-crb-column-floating{
-webkit-font-smoothing: antialiased;
text-size-adjust: none;
font-family: Aller, sans-serif;
line-height: 1.2;
font-weight: 400;
color: #464646;
font-size: 16px;
aspect-ratio: auto 280 / 567;
padding: 0;
margin: 0;
outline: 0;
box-sizing: border-box;
max-width: 100%;
border: 0;
height: auto;
display: inline-block;
vertical-align: middle;
margin-right: 20px;
animation: floating 4s ease-in-out forwards infinite;
width: 45%;

}

.section-module .section-module__row .section__content-right .section__content-inner, .section-module .section-module__row:nth-child(even) .section__content-left .section__content-inner {
  padding: 110px 20px 110px 80px;
  max-width: 680px;
  width: 100%
}

.section-module .section-module__row .section__floating {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 80px
}

.section-module .section-module__row .section__floating img {
  margin-right: 20px;
  animation: floating 4s ease-in-out forwards infinite;
  width: 56%
}

.section-module .section-module__row .section__floating .list-portfolio {
  width: 40%
}

.section-module .section__animated-bg {
  height: 12896px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #498cf3;
  background-repeat: repeat-y;
  background-image: url(../images/repeatable-layer.png);
  background-size: 100% auto;
  will-change: transform;
  animation: animatedBackgroundTop 100s linear infinite paused normal
}

.section-module .section__animated-bg:hover {
  animation: animatedBackgroundTop 100s linear infinite normal
}

.u-padless-lr{
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-family: "Source Sans Pro", sans-serif;
font-size: 14px;
line-height: 1.42857;
color: #0a4063;
box-sizing: border-box;
display: block;
background-color: #f5f6fa;
height: 400px;
padding-left: 0;
padding-right: 0;
}


/* FONDO DE WEB*/

.fondobanner{
  background-image: url("img/banner4.jpg");
  height: 550px;
  background-attachment: fixed;
  background-position: top center;
}


/* FOOTER */

.custom-shape-divider-top-1646957841 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1646957841 svg {
  position: relative;
  display: block;
  width: calc(118% + 1.3px);
  height: 119px;
}

.custom-shape-divider-top-1646957841 .shape-fill {
  fill: #FFFFFF;
}

#pre-footer{
  position: relative;
  background-image: linear-gradient(180deg, #00ffff 0, #41f5ff 25%, #53bcf2 50%, #5087ab 75%, #425a6e 100%);
    min-height: 50vh;
    font-family: 'Fredoka', sans-serif;

}

/*
.pre-footer{
  

  position:relative;
  background: #fdd048;
  background-image: url(../tiendadearte/img/batmanfooter1.png) /*, linear-gradient(5deg, #ffb745 0, #ffa73c 16.67%, #fe932f 33.33%, #f37b1f 50%, #e86211 66.67%, #e04a0b 83.33%, #db3210 100%);;

  background-repeat: no-repeat !important;
  background-position: right!important;
  z-index: auto;

   min-height: 35vh;
   color:#2c2828;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   box-sizing: border-box;

}

*/
.footer{
  background-image: radial-gradient(circle at 50% 66.59%, #564b42 0, #302f2d 25%, #061219 50%, #000000 75%, #000000 100%);

}




/*
-webkit-font-smoothing: antialiased;
text-size-adjust: none;
font-family: Aller, sans-serif;
line-height: 1.2;
font-weight: 400;
color: #464646;
font-size: 16px;
margin: 0;
outline: 0;
box-sizing: border-box;
display: block;
position: relative;
background: #fdd048;
padding: 50px 0;



-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0,0,0,0);
font-family: Montserrat-Regular_0,Arial,sans-serif;
color: #707271;
-webkit-font-smoothing: antialiased;
font-size: 13px;
font-weight: 400;
box-sizing: border-box;
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
float: left;
width: 100%;
margin-top: 0;
background-repeat: no-repeat;
background-image: url('https://totallyweddingkoozies.com/varnish-images/Data/Media/6453b2b3-3742-488f-96b0-52d70328c81fZ_TWK_HomePage-OurProductsYourStory-BackgroundGraphic-optlossy.png?v=0');


-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-family: "Source Sans Pro", sans-serif;
font-size: 14px;
line-height: 1.42857;
color: #0a4063;
box-sizing: border-box;
padding: 0;
min-height: 445px;
height: 100%;
max-height: 565px;
background-color: #073f63;
background-image: url("https://s3.amazonaws.com/topratedlocal/home_page/TRL-Footer-Illustration-Tablet.svg");
background-position: center top;
background-repeat: no-repeat;
background-size: cover;

*/